.time {
    display: flex;
    justify-content: center;
    border: black solid 1px;
    width: 2.5rem;
    margin-right: 0.2rem;
    margin-bottom: 0.2rem;
}

.clock {
    display: grid;
    width: fit-content;
    grid-template-columns: repeat(12, 1fr);
}

.violet {
    display: none;
}